# MongoDB Configuration
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=Azhagammai@25879865

# JWT Configuration
JWT_SECRET_KEY=KdQ8MBny_gA-Rt7pdVTP69wnzxvJxnelYqBx8VaXQBY

# Flask Configuration
FLASK_ENV=production

# API Configuration
API_HOST=0.0.0.0
API_PORT=5000